@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&family=Ubuntu:wght@500&display=swap');

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

a{
  color: black;
}

.text-cs {
  color: #216fdb;
}

.p-0-16 {
  padding: 0 16px;
}

ul.mt-li li {
  margin-top: 15px;
}

ul.ml-li li {
  margin-left: 10px;
}

.bg-light {
  background-color: #FFF !important;
}

.shw {
  box-shadow: 0 0 7px -2px #9b9494;
}

.fz-10 {
  font-size: 10px;
}

.fz-11 {
  font-size: 12px;
}

.fz-12 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px !important;
}

.fz-20 {
  font-size: 20px;
}

.f-ubuntu {
  font-weight: 450;
  color: #65676b;
}

.b-room {
  border: 2px solid #e7f3ff;
  border-radius: 20px;
  height: 35px;
}

.b-room:hover {
  background: #e4e6eb;
  cursor: pointer;
  border: 2px solid #dadae1;
}

.f-bold-500 {
  font-weight: 500;
}

.f-color-grey {
  color: #65676b;
}

.lh-15 {
  line-height: 15px;
}

.bg-sy {
  background-color: #e4e6eb;
}

.mt-li-disabled {
  margin: 0 !important;
}

.mt-15 {
  margin-top: 15px;
}

.text-start {
  text-align: start;
}

textarea:focus, input:focus, button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.d-block-center {
  display: block;
  margin: auto;
}

.ufp {
  height: 35px;
}

.ufp:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: #f0f2f5;
}

.inp-src {
  background-color: #f0f2f5;
  border-radius: 50px;
  border: none;
  font-size: 13px;
  font-weight: normal;
}

.inp-search {
  background-color: #f0f2f5;
  border-radius: 50px;
  border: none;
  font-size: 13px;
  font-weight: normal;

  cursor: pointer;
}

.inp-search:hover {
  background-color: #dbdde1;
}

.img-opacity {
  opacity: 0.7;
}

.icon-opacity {
  opacity: 0.5;
}

.icons {
  width: 28px;
  height: 25px;
}

ul#list-icons-nav li {
  margin-left: 80px;
  opacity: 0.6;
  cursor: pointer;
}

.circle-icons {
  width: 35px;
  height: 35px;
  margin: 0 3px;
  background-color: #e4e6eb;
  border-radius: 50%;
}

.circle-img-user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.circle-img-user-two {
  width: 33px;
  height: 33px;

  border-radius: 50%;
}

.circle-img-user-three {
  width: 20px;
  height: 20px;

  border-radius: 50%;
}

.name-user {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
}

.font-segoe {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: .8375rem;
}

.shortcut {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  color: #65676b;
  padding: 0 0 1px;
  opacity: 0.9;
}

.p-fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;

  z-index: 999;
}

.p-fixed-l {
  position: fixed;
  left: 0;
}

.p-fixed-r {
  position: fixed;
  right: 0;

  padding-bottom: 4rem;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.p-fixed-r::-webkit-scrollbar {
  background: transparent !important;
  width: 6px;
}

.p-fixed-r:hover::-webkit-scrollbar {
  width: 6px;
  background: #a1a1a9;
}

.p-fixed-r:hover::-webkit-scrollbar-thumb {
  background: #a1a1a9;
}

.recommended-section {
  width: 100%;
  height: 320px;
  background-color: #FFF;
  padding: 12px;
  border-radius: 6px;
  margin: 15px 0 0 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.2);
}

.recommended-section-intern {
  display: block;
  width: 97%;
  height: 55%;
  background-color: #000;
  border-radius: 6px;
  margin: auto;
}

.img-rsi {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  margin: auto;
}

.img-rds {
  border-radius: 50%;
}

.icon-create-home {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/eY_ig7a4Wby.png);
  background-position: 0 -346px;
  background-size: 26px 446px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: .6;
}

.icon-search-contacts {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/K75psRNo_n5.png);
  background-position: -72px -176px;
  background-size: 190px 212px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: .6;
}

.icon-etc {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/K75psRNo_n5.png);
  background-position: 0 -132px;
  background-size: 190px 212px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: .6;
}

.cards-stories {
  width: 105px;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #FFF;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.2);
}

.card-user-stories {
  width: 100%;
  height: 75%;
  border-radius: 8px 8px 0 0;
  background-color: #606770;
}

.img-stories {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.icon-card-user-stories {
  width: 40px;
  height: 40px;
  background-color: #FFF;
  display: block;
  margin: auto;

  border-radius: 50%;
  transform: translateY(-50%);
}

.icon-card-user-stories-intern {
  width: 32px;
  height: 32px;
  background-color: #1877f2;
  border-radius: 50%;
}

.span-stories {
  font-size: 11.5px;
  transform: translateY(-100%) translateX(20%);
}

.span-stories-name {
  font-size: 13px;

}

.ics1, .ics2, .ics3, .ics4 {
  background-size: cover;
  background-position: center;

  overflow: hidden;
}

.ics1-bg {
  background-image: url("https://i.imgur.com/dEokzu6.jpg");
}

.ics2-bg {
  background-image: url("https://i.imgur.com/Z3ZC0KJ.jpg");
}

.ics3-bg {
  background-image: url("https://i.imgur.com/yzUSURq.jpg");
}

.ics4-bg {
  background-image: url("https://i.imgur.com/dopGw1x.jpg");
}

.card-search {
  width: 100%;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.2);
}

.card-room {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.2);
}

.card-search-icon1 {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yw/r/ZmTfgeJZMKU.png);
  background-position: 0 0;
  background-size: 26px 656px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.card-search-icon2 {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yw/r/ZmTfgeJZMKU.png);
  background-position: 0 -234px;
  background-size: 26px 656px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.card-search-icon3 {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yw/r/ZmTfgeJZMKU.png);
  background-position: 0 -26px;
  background-size: 26px 656px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

input.plh {
  font-size: 15px;
  font-weight: normal;
}

.icon-create-room {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/oDS5E9id3Nl.png);
  background-position: 0 -220px;
  background-size: 502px 246px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-like {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/omofkwlI4kW.png);
  background-position: 0 -354px;
  background-size: 34px 772px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;


}

.icon-comment {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/omofkwlI4kW.png);
  background-position: 0 -314px;
  background-size: 34px 772px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-share {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/omofkwlI4kW.png);
  background-position: 0 -374px;
  background-size: 34px 772px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
}

.text-wrp {
  word-break: break-all;
}

.icon-love {
  transform: translateX(-5px);
  z-index: 10;
}

.icon-img-like {
  z-index: 100;
  position: relative;
}

.img-feed {
  max-height: 500px;
  min-width: 100%;
}

.dropdown-menu {
  left: auto;
  right: 0 !important;
}

.inpt {
  left: -68px !important;
  margin-top: 12px !important;
}

.li-h {
  border-radius: 8px;
  cursor: pointer;
}

.li-h:hover {
  background-color: #dbdde1;
}

.btn-h:hover {
  background-color: #dbdde1;
}

.cards-stories:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.img-scale:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.icon-h:hover {
  background-color: #dbdde1;
  border-radius: 8px;
}

.mw-post {
  min-height: 300px;
  border: none;
}

#txtarea::placeholder {
  color: #8a8d91;
}



